@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&family=Shrikhand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

/*==========  MINIRESET ==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1, h2 {
    padding: 1rem;
}

p {
  margin: 10px;
}

a {
    text-decoration: none;
    color: inherit; 
}
/*===========================*/
/*==========  HOME ==========*/
/*===========================*/
#root {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.main-header {
  color: red;
};

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px #696969;
  padding: 40px 30px;
}

.button-play {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: red;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

/*===========================*/
/*==========  GAME ==========*/
/*===========================*/
.timerscore {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  padding-bottom: 15px;
}

.timer {
  display: flex;
  flex: 1 1;
  justify-content: flex-start;
  align-items: center;
}

.timer b{
  color: orangered;
}

.score {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
  align-items: center;
}

.score b{
  color: orangered;
}

h4 {
  padding-bottom: 15px;
}
.section-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 100%;
}

.img-container {
  padding: 10px;
  width: 100%;
}

.image {
  background-color: #ececec;
  width: 100%;
  padding-top: 133.3333333333%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.button-yes {
  flex: 1 1;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: green;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.button-no {
  flex: 1 1;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: red;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}